.daily-updates{
    max-width: 100%;
    height: 9rem;
   
    justify-self: center

}

.boxes{
    width: 100%;
    height: 100%;
    background: linear-gradient(130deg ,rgb(120, 164, 225),rgb(4, 127, 109),rgb(34, 34, 111));
    border-radius: 1rem;
    font-size: xx-large;
    text-align:center ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
}